<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consumo de Combustible</title>
    <link rel="stylesheet" href="./css/e003.css">
</head>
<body>
    <h1>Consumo de Combustible por Kilómetro</h1>
    <div class="form-container">
        <form action="./php/exercices/e003.php"" method="post">
            <label for="kilometers">Kilómetros recorridos:</label>
            <input type="text" name="kilometers" id="kilometers" placeholder="Ingrese los kilómetros" required>
            <label for="liters">Litros de combustible:</label>
            <input type="text" name="liters" id="liters" placeholder="Ingrese los litros" required>
            <input type="submit" value="Calcular consumo">
        </form>
    </div>
</body>
</html>
