<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DevLab - Inicio</title>
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,700,700i,800,800i,900&amp;display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="../../static/css/actividades.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&family=Poppins:wght@400;700;900&family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/812c8ee19a.js" crossorigin="anonymous"></script>
        <script src="./src/api/js/jquery.js"></script>
    </head>
    <body>

    <!-- Encabezado -->
    <header class="header-contain"> 
        <div class="header-edit">
            <div class="logo">
                <a href="#"><img src="../../static/assets/images/favicon.ico" alt="Logo de Empresa"></a>
                <span class="pages">DEVLAB </span>
            </div>
            <div class="links-pages">
                <a href="./index.html" class="pages">Inicio</a>
                <a href="../matricula/matricula.html" class="pages">Matricula</a>
                <a href="./actividades.html" class="pages">Actividades</a>
            </div>              
        </div>
    </header>
    <!--  -->
        
        <div class="social-bar">
            <a href="https://www.facebook.com" class="social-icon facebook" target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.messenger.com" class="social-icon messenger" target="_blank">
                <i class="fab fa-facebook-messenger"></i>
            </a>
            <a href="https://www.whatsapp.com" class="social-icon whatsapp" target="_blank">
                <i class="fab fa-whatsapp"></i>
            </a>
            <a href="https://www.instagram.com" class="social-icon instagram" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.youtube.com" class="social-icon youtube" target="_blank">
                <i class="fab fa-youtube"></i>
            </a>
            <a href="https://www.tiktok.com" class="social-icon tiktok" target="_blank">
                <i class="fab fa-tiktok"></i>
            </a>
        </div>

        <br><br><br><br><br>
        
    <!-- CARDS -->

    <article class="cards-grid">

        <section class="card">
            <section class="card-img">
                <img src="../../static/assets/images/actividades/registro.png" alt="curso-1">
            </section>

            <section class="card-content">
                <h2 class="card-title"> Validación de registro</h2>
                <p class="card-parrafo"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi eum vero nesciunt
                    ut et delectus tenetur impedit blanditiis molestias.</p>

                <a href="../registro/registro.html" class="card-boton">Continuar</a>
            </section>

        </section>
        <section class="card">
            <section class="card-img">
                <img src="../../static/assets/images/actividades/sistema_cajero.png" alt="curso-2">
            </section>

            <section class="card-content">
                <h2 class="card-title"> Sistema de Cajero</h2>
                <p class="card-parrafo"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi eum vero nesciunt
                    ut et delectus tenetur impedit blanditiis molestias</p>

                <a href="../07/home.php" class="card-boton">Continuar</a>
            </section>

        </section>
        <section class="card">
            <section class="card-img">
                <img src="../../static/assets/images/actividades/tienda-tecnologia.png" alt="curso-3">
            </section>

            <section class="card-content">
                <h2 class="card-title"> Tienda de Ropa</h2>
                <p class="card-parrafo"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi eum vero nesciunt
                    ut et delectus tenetur impedit blanditiis molestias.</p>

                <a href="../09/ropa.php" class="card-boton">Continuar</a>
            </section>

        </section>

        <section class="card">
            <section class="card-img">
                <img src="../../static/assets/images/actividades/tienda-ropa.png" alt="curso-4">
            </section>

            <section class="card-content">
                <h2 class="card-title"> Tienda de Tecnología</h2>
                <p class="card-parrafo"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi eum vero nesciunt
                    ut et delectus tenetur impedit blanditiis molestias.</p>

                <a href="../08/tienda.php" class="card-boton">Continuar</a>
            </section>

        </section>
        <section class="card">
            <section class="card-img">
                <img src="../../static/assets/images/actividades/sueldo_obrero.png" alt="">
            </section>

            <section class="card-content">
                <h2 class="card-title"> Calcular Sueldo Obrero</h2>
                <p class="card-parrafo"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi eum vero nesciunt
                    ut et delectus tenetur impedit blanditiis molestias.</p>

                <a href="../03/e003.html" class="card-boton">Continuar</a>
            </section>

        </section>
        <section class="card">
            <section class="card-img">
                <img src="../../static/assets/images/actividades/consumo_combustible.png" alt="curso-6">
            </section>

            <section class="card-content">
                <h2 class="card-title"> Calcular Combustible</h2>
                <p class="card-parrafo"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi eum vero nesciunt
                    ut et delectus tenetur impedit blanditiis molestias.</p>

                <a href="../04/e006.html" class="card-boton">Continuar</a>
            </section>

        </section>
        <br><br><br><br><br><br>


    </article>
        <!-- START OF FOOTER -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-2">
                        <i class="fa-solid fa-mobile-screen-button icon-footer-1"></i>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-2 section-footer-1">
                        <h5 class="title-footer">Contacto</h5>
                        <p class="paragraph-footer">+51 939 123 987</p>
                        <p class="paragraph-footer">+51 939 123 987(Whatsapp)</p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-2">
                        <i class="fa-solid fa-envelope icon-footer-2"></i>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-2 footer-sec2">
                        <h5 class="title-footer">E-Mail</h5>
                        <p class="paragraph-footer">devlab.pe@gmail.com</p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-2">
                        <i class="fa-solid fa-location-dot icon-footer-3"></i>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-2 footer-sec3">
                        <h5 class="title-footer">Dirección</h5>
                        <p class="paragraph-footer">Lima - Perú</p>
                    </div>
                </div>
            </div>
            <a href="https://wa.me/939123987/" target="_blank"><i class="fa-brands  fa-square-whatsapp whatsapp-button-footer"></i></a>
        </footer>
        <div class="footer-copyright">DEVLAB SOLUCIONES INFORMÁTICAS SAC @2022 - Todos los derechos reservados <span style="padding-left: 30em  ;">Desarrollado por <span style="color:red ;">Giancarlos Barboza N.</span> </span></div>
        <!-- END OF FOOTER -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="./src/api/js/menu-flex.js"></script>
        <script src="./src/api/js/headroom.min.js"></script>
    </body>
</html>